<div class="container-fluid"> 
        <div class="row" >
          <div class="col-lg-12">
          <div class="boxRadiu ">
            <table class="table ">
                <tr >
                    <td>Select all</td>
                    <td>Product Name</td>
                    <td>Detail</td> 
                                            
                    <td>Date</td>
                    <td>Time</td>
                    <td>Amount</td>
                    <td>Price</td>
                    
                </tr>
                <tr >
                    <td ><input type="checkbox" ng-model="x.booking_inv" ng-click="inv_func(x.booking_inv,x.total_price,x.booking_id,x.pickup_price,x.company_id,$event,x.company_name)" /></td>
                    <td>phi phi</td>
                    
                    <td>test</td>
                    <td>26/07/2016</td>
                    <td>08.00PM</td>
                    <td>3</td>
                    <td>2,000</td>
                </tr>
            </table>
            </div>
          </div>
        </div>
    </div>



    <div class="boxRadiu horiz shopCartList" style="margin-top:30px; margin-left:70px;">
        <ul class="cart_head">
          <li><span class="icon chose_cart_all_ipt hand icon_orange_Hook"></span></li>
          <li class="chose_cart_all hand" style="width:110px;">Select all</li>
          <li style="width:230px;">Product Name</li>
          <li style="width:230px;">Detail</li>
          <li style="width:140px;">Amount</li>          
          <li style="width:140px;">Price</li>          
        </ul>
        <ul class="cart_body clearfix">
          <li style="width:230px;"></li>
          <li style="width:230px;">Phi Phi</li>
          <li style="line-height:72px;width:130px;">test</li>
          <li style="width:120px;">2</li>
          <li style="line-height:72px;width:130px;">2000</li>
          <li></li>
        </ul>    
    </div>