
.page-header .container {
    padding-top:0;
    color: #000;
    background-color: #fff;
    border-bottom: 1px solid #C8E1F5;
}
.navbar.navbar-transparent{
    background-color: #fff;
    color: #000;
    border-bottom: 1px solid #C8E1F5;
}
.navbar {
    box-shadow: none;
}
.loading-in{
    height: 115px;
    border-radius: 25px;
    background: #fff;
    min-width: 15rem;
    /* height: auto; */
    left: 50vw;
    top: 50vh;
    transform: translate(-50%,-50%);
    position: fixed;
    z-index: 10;
}
.loading-ld{
    font-weight: 500;
    color: #000;
    padding: 35px;
    text-align: center;
}
#loading{
    z-index: 9999;
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.59);
    display: nones;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #333;
}
input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #333;
}
input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #333;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #333;
}
.btn-send{
    padding: 12px 20px;
    background: #3b5998;
    color: #fff;
    width: 140px;
    position: absolute;
    text-align: center;
    right: 0px;
    margin-top: 15px;
    border-radius: 25px;   
}
.btn-login-forget{
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
    border: 1px solid #4BB1C1;
    right: 15px;
    padding: 12px 20px;
    bottom: 15px;
    background: #3b5998;
    display: none;
}
    #sectionsNav {
    position: absolute;
    /* background: rgba(255, 255, 255, 0) !important; */
    margin: auto;
    z-index: 20;
    width: 100%;
    padding-bottom: 0;
    padding-top: 0;
    box-shadow: none;
    background: #3b5998 !important;;
}
#foget-password{
    z-index: 20; 
    position: fixed; 
    /* width: 100vw; 
    height: 100vh;  */
    left: 0px; top: 0px; 
    /* background: rgba(0, 0, 0, 0.59); */
    display:none;
}
.box-in-foget{
    height: 100vh;
        /* border-radius: 4px; */
        background: #fff;
        min-width: 100%;
        /* height: auto; */
        left: 50vw;
        top: 50vh;
        
        transform: translate(-50%,-50%);
        position: fixed;
        z-index: 3;
}
.btn-close {
    position: absolute; 
    right: 15px;
}

.btn-login{
    font-weight: 500;
    display: block;
    padding: 10px;
    text-decoration: none;
    cursor: pointer;
    min-width: 120px;
    border-radius: 25px;
    text-align: center;
    color: #ffffff;
    background-color: #3b5998;


}
#checkmail{
    background-color: #FF5722;
}
/* .btn-login:hover{
     border: 1px solid #3b5998;
     background-color: #3b5998;
     color: #ffffff;
} */
.btn-signup{
    color: #3b5998;
    border: 1px solid #3b5998;
    background-color: #3b5998;
    font-weight: 500;
    display: block;
    line-height: 36px;
    padding: 0 10px 0 0;
    text-decoration: none;
    cursor: pointer;
    min-width: 120px;
    border-radius: 25px;
    text-align: center;
     color: #ffffff;

}
.btn-signup:hover{
     border: 1px solid #3b5998;
     background-color: #3b5998;
     color: #ffffff;
}
.col-sign{
    /*margin-top: 20px;*/
    font-size: 13px;

}
.btn-foget-pass {
    color: #ffffff;
    background: #333333;
    text-align: center;
    padding: 12px;
    border-radius: 25px;
    font-weight: 500;
}

.social-column .fb-wrapper .inner {
    color: #3b5998;
    border: 1px solid #3b5998;
    font-weight: 700;
    display: block;
    line-height: 36px;
    /* padding: 0 10px 0 0; */
    padding: 3px;
    text-decoration: none;
    cursor: pointer;
    min-width: 120px;
    border-radius: 25px;
}
.social-column .google-wrapper .inner {
    color: #ea4335;
    border: 1px solid #ea4335;
    
    font-weight: 700;
    display: block;
    line-height: 36px;
    /* padding: 0 10px 0 0; */
    padding: 3px;
    text-decoration: none;
    cursor: pointer;
    min-width: 120px;
    border-radius: 25px;
}
.social-column .fb-wrapper {
    text-align: center;
}
 .notification {
    position: absolute;
    top: 2px;
    border: 1px solid #FFF;
        left: 22px;
    font-size: 9px;
    background: #f44336;
    color: #FFFFFF;
    min-width: 20px;
    padding: 0px 5px;
    height: 20px;
    border-radius: 10px;
    text-align: center;
    line-height: 19px;
    vertical-align: middle;
    display: block;
}
.social-column .fa-google-plus-square, .social-column .fa-facebook-official {
    display: inline-block;
    vertical-align: text-top;
    padding: 0;
    /*background-image: url(/images/2014/sprites/icons-header-336d99fe71.png);*/
    width: 37px;
    height: 38px;
    padding-left: 0;
    float: left;
}
.social-column .google-wrapper {
    text-align: center;
    margin-top: 20px;
/*    display: none;*/
}
.social-column .social-inner {
    display: table-cell;
    vertical-align: middle;
}
.social-column{
    padding: 100px 120px;
}
.dropdown-menu.dropdown-with-icons li>a:hover {
    /*padding: 12px 20px 12px 12px;*/
    background: #F44336 !important;
}
.dropdown-menu:after, .dropdown-menu-container:after {
    border-bottom: 11px solid #FFFFFF;
    border-left: 11px solid rgba(0,0,0,0);
    border-right: 11px solid rgba(0,0,0,0);
    content: "";
    display: inline-block;
    position: absolute;
    right: 30px;
    top: -10px;
}
.index-page .page-header, .presentation-page .page-header {
    height: 12vh !important;
    overflow: hidden;
}
.box-regispro {
    /*letter-spacing: 1px;*/
    color: #555555;
    padding: 2px 10px;
}
#special {
    display: inline-block;
    position: absolute;
}
#exclusive {
    display: inline-block;
    position: absolute;
}
#fast {
    display: inline-block;
    position: absolute;
}
.special {
    font-size: 14px;
    /*margin-left: 5%;*/
    margin-bottom: 20px;
}
.exclusive {
    font-size: 14px;
    /*margin-left: 5%;*/
    margin-bottom: 20px;
}
.fast {
    font-size: 14px;
    /*margin-left: 5%;*/
}
.section_title{
     /*font-size: 20px;*/

        position: relative;
    /*font-size: 170%;*/
    font-weight: normal;
    /*margin-left: 0px;*/
    
}
.special p {
    display: inline-block;
    margin-left: 70px;
        font-size: 13px;


}
.special h4 {
    display: inline-block;
    margin-left: 70px;
        font-size: 16px;
}
.exclusive p {
    display: inline-block;
    margin-left: 70px;
        font-size: 13px;

}
.exclusive h4 {
    display: inline-block;
    margin-left: 70px;
        font-size: 16px;
}
.fast p {
    display: inline-block;
    margin-left: 70px;
        font-size: 13px;
}
.fast h4 {
    display: inline-block;
    margin-left: 70px;
        font-size: 16px;
}
#box-left{
    border-right: 1px solid #ccc;
    margin-top:75px;
}
.box-icon{
    width: 50px;
    border-radius: 50%;
    padding: 10px;
    height: 50px;
    border: 1px solid #555;
    position: absolute;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    
   
    color: #FFF;
    box-shadow: none;
}
.wizard-card{
    margin-bottom: 0;
   
}

.wizard-card{
    box-shadow: none;
}
#title-regis{
    color: #E47911;
     font-size: 20px;

    /*margin-top: 50px;*/

}
#title-info{
     font-size: 20px;

     margin-top: 20px;
}
.loginReg__or{
    right: 0;
    margin: 10px 0;
    position: absolute;
    font-size: 10px;
    width: 2em;
    height: 2em;
    text-align: center;
    /* line-height: 2.2; */
    background: #dcdcdc;
    border-radius: 50%;
    color: #666;
    margin-right: -10px;
    margin-top: -172px;
}
 @media screen and (max-width: 767px){
    #title-regis{
        color: #E47911;
        margin-top: 0;

} 
#title-info{
        margin-top: 30px;
    font-size: 18px;
} 
#box-left{
    border-right: none;
} 


                

}
.index-page .header-filter:after, .presentation-page .header-filter:after {
    background: rgba(132,13,121,.88);
    background: linear-gradient(45deg,rgba(132,13,121,.88) 0,rgba(208,44,180,.31) 100%);
    background: -moz-linear-gradient(135deg,rgba(132,13,121,.88) 0,rgba(208,44,180,.31) 100%);
    /* background: -webkit-linear-gradient(135deg,rgba(132,13,121,.88) 0,rgba(208,44,180,.31) 100%); */
    /* background: linear-gradient(0deg, rgba(44, 44, 44, 0.2), rgb(16, 15, 204)); */
    background: linear-gradient(0deg, rgba(44, 44, 44, 0.2), rgba(224, 23, 3, 0.6));
}
.index-page .page-header, .presentation-page .page-header {
    height: 50vh;
    overflow: hidden;
}
.main-raised {
    margin: -60px 30px 0;
    border-radius: 6px;
    box-shadow: 0 16px 24px 2px rgba(0,0,0,.14), 0 6px 30px 5px rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2);
    margin-bottom: 50px;
}
#imgcountry{
    width: 25px;
    margin-right: 15px;
}
.modal .modal-dialog {
    margin-top: 20px !important;
}
.box-country ul{
                        padding-left: 0;

                    }
                    .box-country ul li{
                            list-style: none;
    padding: 8px 20px;
                    }
                    #span-phonecode{
                        padding-right: 10px;
                    }
                    .box-country ul li:hover{
                        background-color: #ffd000;
                        color: #000;
                    }
                    #textcountry{
                        text-align: center;
                    }
                    #code{
                        text-align: center;
                    }
                    label.form-control
                    {
                        margin-top: 20px;
                    }
                    #calen{
                       margin-top: -15px;
                        margin-right: 2px;
                        position: absolute;
                        font-size: 20px;
                        color: #9E9E9E; 
                    }
.btn-login{
   margin-left: 40px;
    margin-top: 30px;
}
.btn-signup{
        margin-left: 40px;
    margin-top: 30px;
}
.text-sign{
    margin-left: 55px;
}

                     @media screen and (max-width: 767px){
                    


                #textcountry{
                        text-align: left;
                    }
                     #code{
                        text-align: left;
                    }
                    #tphone{
                        padding: 0;
                    }
                    .btn-login{
    margin-left:0;
    margin-top: 30px;
}

.text-sign{
        margin-left: 0;
    text-align: center;
}
.loginReg__or{
    display: none !important;
}
.social-column .social-inner{
    display: block;
}
.social-column {
    padding: 30px 0;
}
.btn-signup {
    margin-left: 0;
    margin-top: 30px;
}

                }

</style>
<style>
    .navbar-right{
    /* background: #000; */
}
.textmenu{
    margin-left: 10px;
}
.imgmem-log{
    
}
.imgmemu{
    width: 35px;  
    height: 35px; 
    border-radius: 50px;  
}
.user {
    background: #07c284;
    text-align: center;
    padding-bottom: 20px;
    /* margin: 25px auto 0; */
    position: relative;
    height: 160px;
    display:none;
}
.user .photo {
    width: 100%;
    /* height: 110px; */
    overflow: hidden;
    border-radius: 4px;
    /* margin: 0 auto; */
    /* margin-top: 50px; */
    /* box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2); */
}
.user .photo img {
    width: 50px;
    height: 50px;
    margin-top: 30px;
    border-radius: 50px;                       
}

#usernamess{
    display: inline-block;
    text-transform: initial;
}


.box-menu-select {
position: fixed;
width: 100%;
bottom: 0;
z-index: 1;
background: #fff;
/* box-shadow: 0px 10px 5px #888, 0px 0px 5px rgba(136, 136, 136, 0.52); */
box-shadow: 0px 0px 0.9px #888, 0px 0px 0px rgba(136, 136, 136, 0.52);

/* height: 90px; */
}
.btn-reservation {
    line-height: 0.8;
    padding: 8px 0;
font-size: 16px;
/* font-weight: 400; */
/* position: absolute; */
width: 100%;
/* border-radius: 4px; */
/* padding: 12px; */
color: #333;
text-align: center;
/* display: inline-block; */
/* background-color: #2196f3; */
z-index: 1;
}

.btn-realtime {
    line-height: 0.8;
    padding: 8px 0;
font-size: 16px;
/* font-weight: 400; */
/* position: absolute; */
width: 100%;
/* border-radius: 4px; */
/* padding: 12px; */
color: #333;
text-align: center;
/* display: inline-block; */
/* background-color: #2196f3; */
z-index: 1;
}

.btn-home {
padding: 8px 0;
font-size: 16px;
/* font-weight: 400; */
/* position: absolute; */
width: 100%;
/* border-radius: 4px; */
/* padding: 12px; */
color: #3b5998;
text-align: center;
/* display: inline-block; */
/* background-color: #2196f3; */
z-index: 1;
}

.btn-management {
    line-height: 0.8;
    padding: 8px 0;
font-size: 16px;
/* font-weight: 400; */
/* position: absolute; */
width: 100%;
/* border-radius: 4px; */
/* padding: 12px; */
color: #333;
text-align: center;
/* display: inline-block; */
/* background-color: #2196f3; */
z-index: 1;
}

.btn-management a {
color: #999999;
}
.btn-car-service {
    line-height: 0.8;
    padding: 8px 0;
font-size: 16px;
/* font-weight: 400; */
/* position: absolute; */
width: 100%;
/* border-radius: 4px; */
/* padding: 12px; */
color: #333;
text-align: center;
/* display: inline-block; */
/* background-color: #2196f3; */
z-index: 1;
}


/*.btn-reservation:hover{
   background-color: #FFC107;
}*/

.btn-real-res {
position: absolute;
margin-top: 50px;
width: 100%;
z-index: 5;
text-align: center;
}
#getcapa{
    background-color: #ddd;
    height: 35px;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
    border-top: none;
}
#table1{
    margin-top: 10px !important;
}
.footer a{
    color: #000;
    font-weight:normal;
}
@media screen and (max-width: 767px){
    .user {        
        display:block;
    }
}

  